.playWithNavButtons {
  .positionAndControls {
    .controls {

      display: flex;
      flex-direction: row;

      .gotoButton {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        background-color: rgb(212, 212, 212);
        cursor: pointer;
        margin: 10px;
      }
    }
  }
}