@import "../mixins/squareButton";

.sectionPosition{
  .title {
    font-weight: bold;
    font-size: large;
    padding: 10px;
  }

  .playerPosition {

    padding-left: 10px;
    .before, .after {
      color: red;
    }

    .inside {
      color: green;
    }
  }

  .controls {
    .button {
      @include squareButton;
      border: 1px solid green;
    }

    .group {
      display: flex;
      flex-direction: row;
      .button {
        margin-top: 4px;
        margin-bottom: 0px;
      }
    }
  }
}
