@import "../mixins/squareButton";

.fragmentPosition{
  .title {
    font-weight: bold;
    font-size: large;
    padding: 10px;
  }

  .playerPosition {


    .before, .after {
      color: red;
    }

    .inside {
      color: green;
    }
  }

  .controls {
    .button {
      @include squareButton;
    }

    .group {
      display: flex;
      flex-direction: row;
      .button {
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }
  }
}
