.fragmentPages {
  overflow-y:scroll;

  .scrollArea {
    border: 1px solid #000;
  }

  .zoom {
    position: absolute;

    img {
      cursor: pointer;
      padding: 4px;
    }
  }
}

.page {
  padding: 10px;
}