@import "../mixins/blueButton";
@import "../mixins/squareButton";

.fragments {
  padding: 0px 5px;

  .scrolling {
    display:flex;
    flex-wrap: wrap;
    width:300px;
    padding: 2px;
    border: 1px solid darkred;
  }
  .button {
    @include squareButton;

    white-space: nowrap;
    margin:1px;
  }

  .addButton {
    @include blueButton;
    text-align: center;
  }
}