.sectionPages {
  overflow-y:scroll;
  margin-right:5px;
  .scrollArea {
    border: 1px solid lightgrey;
  }

  canvas {
    cursor: pointer;
  }

  .zoom {
    position: absolute;
  }
}

.page {
  padding: 10px;
}