.sectionPages {
  overflow-y:scroll;
  margin-right:5px;
  .scrollArea {
    border: 1px solid lightgrey;
  }

  .zoom {
    position: absolute;

    img {
      cursor: pointer;
      padding: 4px;
    }
  }
}

.page {
  padding: 10px;
}