@import "../mixins/blueButton";
@import "../mixins/squareButton";

.sections {
  padding: 0px 5px;

  .scrolling {
    margin-left:20px;
    display:flex;
    flex-wrap: wrap;
    width:300px;
    padding: 2px;

    .button {
      @include squareButton;

      white-space: nowrap;
      margin:1px;

      &.inPlayInput {
        background-color: #717171;
        color: white;
      }

      &.active {
        font-weight: bold;
        background-color: #333;
        color: white;
      }
    }
  }

  .error {
    color: red;
  }

  .errorInput {
    background-color: #ff7777;
    color:white;
  }

  .playSectionsSection {
    margin-top: 5px;
    img {
      cursor: pointer;
    }
  }
}

.allowedFormats {
  span {
    display: inline-block;
    border: 1px solid white;
    padding: 3px;
  }
}