@import "./mixins/squareButton";

.playWithNavButtons {
  margin-top: 5px;
  .positionAndControls {
    margin-left: 5px;
    .controls {

      .gotoButton {
        @include squareButton;
      }
    }
  }
  .player {
    margin-top: 5px;
  }
}