@import "../mixins/blueButton";
@import "../mixins/squareButton";

.fragments {
  height:500px;
  overflow-y: auto;
  overflow-x: hidden;

  .button {
    @include squareButton;

    .title {
      white-space: nowrap;
    }
  }

  .addButton {
    @include blueButton;
  }
}